@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eightpage{
    height: 458px;
    background-color: var(--bs-code-color);
}


.clinical{
    text-align: center;
    padding-top: 10%;
    color: var(--bs-white);
}

.years{
    display: flex;
    justify-content:space-between;
    width: 70%;
    margin-left:15%;
    margin-top: 10%;
    /* background-color: aqua; */
}

.years h4{
    text-align: center;
    color: var(--bs-white);
    font-size: 22px;
}