@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fifthpage{
    height: 695px;
    width: 100%;
    background-image: var(--bs-gradient-1);
    /* background-color: aqua; */
}

.heading5{
    text-align: center;
    padding-top: 70px;
    color: var(--bs-white);
    font-size: 20px;
}

.testimonials{
    height: 417px;
    margin-top: 70px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.lefttestimonil{
    width: 464px;
    height: 417px;
    background-color: var(--bs-pink-2);
}

.spicific{
    margin-top: 30px;
    font-size: 20px;
    color: var(--bs-white);
    margin-left: 30px;
}
.spicificlist{
    margin-top: 30px;
}
.spicificlist li{
    list-style: none;
    margin-top: 8px;
}

.spicificlist li a{
    color: var(--bs-white);
    text-decoration: none;
    font-size: 16px;
}


.righttestimonial{
    width: 444px;
    height: 417px;
    /* background-color: aqua; */
}
.carouseldata{
    margin-left: 30px;

}

.general{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    color: var(--bs-white);
}

/* ---- */
.carousel-indicators {
    position: absolute;
    
    transform: translateX(-65%);
}

.carousel-indicators .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
    background-color: red;
}



.carousel-indicators{

bottom: -30%;
left: 4%;
}
.container {
    position: relative;
  }
  .carousel-control-prev{
    position: absolute;
    left: 80%;
   
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    bottom: 0;
    top: 140%;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translateY(60%);
  }

  .carousel-item-para1{
    color: var(--bs-white);
    margin-left: 5px;
    font-size: 13px;
    margin-top: 30px;
  }

  .carousel-item-para2{
    color: rgb(224, 217, 217);
    margin-left: 5px;
    font-size: 11px;
    margin-top: 30px;


  }


